<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{{assets}}/css/{{ pkg.name }}.min.css" />
</head>
<body>
<div class="container">
    <!-- pages -->
    <div class="post">
        <h2>{{title}}</h2>
        <p>Posted on: {{posted}}
            {{#markdown}}
            {{> body }}
            {{/markdown}}
        </p>
    </div>
</div>

<script src="{{assets}}/js/{{ pkg.name }}.min.js"></script>

</body>
</html>