<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ base_data.site.title }}</title>
    <link type="text/css" rel="stylesheet" href="{{assets}}/css/{{ pkg.name }}.min.css" />
</head>
<body>
<div class="container">
    <h1>Coder on Fire</h1>
    <p>Hello.</p>
</div>
<script src="{{assets}}/js/{{ pkg.name }}.min.js"></script>
</body>
</html>